<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1632},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,412},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,330},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,248},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1068},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,986},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,904},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,822},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,740},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,658},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,576},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,494},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>dhw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{480,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mhxy.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3254e968aeeeaaffca29c176b6b1ca$</string>
            <key>textureFileName</key>
            <string>mhxy.png</string>
        </dict>
    </dict>
</plist>
